---
const currentYear = new Date().getFullYear();
interface Props {
  footerInfor: any;
}
const { footerInfor } = Astro.props;
---

<footer
  class="rounded-lg shadow m-4 p-2 bg-black/5 dark:bg-white/10 dark:shadow-white/20 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-5 flex justify-center"
>
  <div
    class="w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear}
      <a href={footerInfor.url} class="hover:underline">{footerInfor.name}</a>.
      <a href={footerInfor.urlMencion} class="pl-2 hover:underline"
        >{footerInfor.mencion}</a
      >
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href={footerInfor.itemInfo.url} class="hover:underline me-4 md:me-6"
          >{footerInfor.itemInfo.title}</a
        >
      </li>
      <li>
        <a
          id={footerInfor.itemcontact.label}
          href={footerInfor.itemcontact.url}
          class="hover:underline me-4 md:me-3"
          >{footerInfor.itemcontact.title}</a
        >
      </li>
    </ul>
  </div>
</footer>
