---
import { raizApp, es } from "@cv/cv";
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{"Currículum Vitae - " + es.nombre}</title>
    <meta name="description" content={es.descriptionWeb} />
    <link rel="icon" type="image/svg+xml" href={raizApp + "img/me.webp"} />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f4f4f4;
      }

      .container {
        max-width: 21cm;
        margin: 0 auto;
        padding-left: 1cm;
        padding-right: 1cm;
        background-color: #fff;
      }

      section {
        margin-bottom: 0.75cm;
      }

      h1,
      h2 {
        margin-bottom: 0.5em;
      }

      p {
        margin-bottom: 0.5em;
      }

      .contact-info {
        display: flex;
        align-items: center;
      }

      .contact-info img {
        width: 100px;
        height: 100px;
        margin-right: 1em;
      }

      .contact-info a {
        color: #333;
        text-decoration: none;
        margin-right: 1em;
      }

      .reference {
        margin-top: 1em;
      }

      .reference p {
        margin-bottom: 0.2em;
      }

      .certificate-link {
        display: flex;
        align-items: center;
      }
    </style>
    <script>
      window.addEventListener("load", () => {
        const titles = document.querySelectorAll("h2, h3, p");

        titles.forEach((title) => {
          const section = title.closest("div");

          if (section) {
            const sectionBottom = section.getBoundingClientRect().bottom;
            const titleBottom = title.getBoundingClientRect().bottom;

            if (titleBottom < sectionBottom) {
              section.style.breakInside = "avoid-page";
            }
          }
        });
      });
    </script>
  </head>
</html>

<body>
  <div class="container">
    <section id="informacion-general">
      <div class="contact-info">
        <img
          src={raizApp + "img/me.webp"}
          alt="Mi_Perfil"
          loading="eager"
          decoding="async"
          class="object-cover h-full bg-black/20"
          style="width: 130px; height: 160px; object-position: 100% 40%"
        />
        <div>
          <p><strong>Nombre:</strong> {es.nombre}</p>
          <p><strong>Título:</strong> {es.tituloUniversidad}</p>
          <p><strong>Fecha de Nacimiento:</strong> {es.cumpleaños}</p>
          <p><strong>Dirección:</strong> {es.ubicacion}</p>
          <p><strong>Email:</strong> {es.correo}</p>
        </div>
      </div>
      <div class="contact-info mt-3">
        <a
          href={"https://www.linkedin.com/in/" + es.linkedin_user}
          target="_blank"
          ><i class="fab fa-linkedin fa-lg"></i>
          <span class="text-sm"> {es.linkedin_user}</span>
        </a>
        <a href={"https://github.com/" + es.git_user} target="_blank"
          ><i class="fab fa-github fa-lg"></i>
          <span class="text-sm"> {es.git_user}</span>
        </a>
        <a href="https://daap213.github.io/Portafolio_Astro/" target="_blank"
          ><i class="fas fa-globe fa-lg"></i>
          <span class="text-sm"> {es.mi_web}</span>
        </a>
      </div>
    </section>

    <section id="sobre-mi">
      <h2
        class="text-lg font-extrabold border-b-4 border-double border-gray-400"
      >
        Sobre Mí
      </h2>
      {
        es.sobremi.map((content: any) => (
          <div>
            <p
              class="check_y text-sm text-justify text-gray-800 dark:[&>strong]:text-black-200 [&>strong]:text-black-500 [&>strong]:font-semibold dark:text-gray-300"
              set:html={content}
            />
          </div>
        ))
      }
    </section>

    <section id="experiencia">
      <h2
        class="text-lg font-extrabold border-b-4 border-double border-gray-400"
      >
        Experiencia
      </h2>
      {
        es.experiencias.map((experiencia) => (
          <div>
            <h3 class="mt-4 mb-2 font-semibold ">{experiencia.title}</h3>
            <h4 class="text-end font-semibold">
              <small>{experiencia.company + " / " + experiencia.date}</small>
            </h4>
            <ul class="border-t text-sm border-gray-400">
              {experiencia.description.map((activity: any) => (
                <li class="check_y w-full px-3 py-2 border-b-2 border-dashed text-justify border-gray-300 ">
                  {activity}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </section>

    <section id="educacion border-b-4 border-double border-gray-400">
      <h2 class="text-lg font-extrabold">Educación</h2>
      {
        es.gradosCompletados.map((grado) => (
          <div class="check_y">
            <h3 class="mt-4 mb-2 font-semibold ">{grado.title}</h3>
            <h4 class="text-end border-b-2 border-dashed border-gray-300">
              <small>{grado.institution + " / " + grado.date}</small>
            </h4>
          </div>
        ))
      }
    </section>
    
    <section id="publicaciones">
      <h2
        class="text-lg font-extrabold border-b-4 border-double border-gray-400"
      >
        Plublicaciones
      </h2>
      {
        es.publicaciones.map((publicacion) => (
          <div class="flex items-center border-b-2 border-dashed  border-gray-300">
            <div class="w-full check_y">
              <h3 class="mt-4 font-semibold ">{publicacion.title}</h3>
              <p class=" text-sm px-3 py-2  text-justify">
                {publicacion.description + " " + publicacion.authors}
              </p>
              <p
                class="text-sm px-3 text-justify font-bold"
                set:html={publicacion.codigo}
              />
            </div>
            <a href={publicacion.link} target="_blank">
              <img
                class="w-40"
                src={publicacion.qr}
                loading="eager"
                decoding="async"
                alt={publicacion.title}
              />
            </a>
          </div>
        ))
      }
    </section>

    <section id="proyectos">
      <h2
        class="text-lg font-extrabold border-b-4 border-double border-gray-400"
      >
        Proyectos
      </h2>
      {
        es.proyectos.map((proyecto) => (
          <div class="flex items-center flex-col-2 check_y border-b-2 border-dashed border-gray-300">
            <div class="w-full">
              <h3 class="mt-4 font-semibold ">{proyecto.title}</h3>
              <p
                class=" text-sm px-3 py-2 text-justify"
                set:html={proyecto.description}
              />
            </div>
            <a href={proyecto.github} target="_blank">
              <img
                class="w-40"
                src={proyecto.qr}
                loading="eager"
                decoding="async"
                alt={proyecto.title}
              />
            </a>
          </div>
        ))
      }
    </section>

    <section id="habilidades">
      <h2
        class="text-lg font-extrabold border-b-4 border-double border-gray-400"
      >
        Habilidades
      </h2>
      <div class="grid grid-cols-1 gap-4">
        {
          es.habilidades.map((habilidad) => (
            <div class=" border-b-2 border-dashed border-gray-300">
              <div class="check_y grid m-1">
                <h3 class="mt-1 font-semibold">{habilidad.name}</h3>
                <div class="h-auto max-w-full my-auto border-gray-400">
                  {habilidad.skills.join(" / ")}
                </div>
              </div>
              {habilidad.related && (
                <div class="check_y grid pl-2 border-l-2 border-dashed border-gray-300">
                  <h3 class=" font-semibold">Relacionado</h3>
                  <div class="h-auto  max-w-full my-auto">
                    {habilidad.related.join(" / ")}
                  </div>
                </div>
              )}
            </div>
          ))
        }
      </div>
    </section>

    <section id="certificados">
      <h2
        class="text-lg font-extrabold border-b-4 border-double border-gray-400"
      >
        Certificados
      </h2>
      {
        es.certificados.items.map((certificado) => (
          <div class="check_y">
            <h3 class="mt-2 font-semibold ">{certificado.title}</h3>
            <h4 class="text-end border-b-2 border-dashed border-gray-300">
              <small>{certificado.date}</small>
            </h4>
          </div>
        ))
      }
      <div class="mt-4 certificate-link">
        <img
          class="certificate-image"
          src={es.certificados.qr}
          loading="eager"
          decoding="async"
          style="width: 130px; height: 130px;"
          alt="Imagen de certificado"
        />
        <a href={es.certificados.link} target="_blank"
          >Enlace a los certificados</a
        >
      </div>
    </section>


    <!--       <section id="referencias">
        <h2>Referencias</h2>
        <div class="reference">
          <p>Nombre de la referencia - Cargo - Empresa</p>
          <p>Teléfono: 123-456-7890</p>
          <p>Email: correo@example.com</p>
        </div>
      </section> -->
  </div>
</body>
